#profile {
  width: var(--size-xl);
  aspect-ratio: 1;
  border-radius: var(--size-xl);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
  cursor: pointer;
  overflow: hidden;

  &::after {
    content: 'Upload';
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: var(--font-sm);
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.2s var(--timing-standard);
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0;
    background-color: var(--primary);
    transition: opacity 0.2s var(--timing-standard);
  }

  &:hover::before {
    opacity: 0.5;
  }

  &:hover::after {
    opacity: 1;
  }
}

w-list-item:has(#profile) {
  padding-left: var(--xl);

  .w-ripple {
    display: none;
  }
}

#account-info {
  display: flex;
  flex-direction: column;
  gap: var(--xs);

  [name] {
    font-size: var(--font-lg);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: var(--xxs);

    iconify-icon {
      color: var(--outline-variant);
      font-size: var(--font-xl);
      height: auto;
      cursor: pointer;

      &:hover {
        color: var(--primary);
      }
    }
  }
}
