.sched-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;

  td,
  th {
    padding: var(--xxs);

    border: 1px solid var(--outline-variant);
    text-align: center;
    user-select: none;

    > * {
      pointer-events: none;
    }
  }

  .highlight-today {
    background: var(--primary-light);
    color: var(--primary);
  }

  /*         
    color class bg pastel color
    'red',
    'orange',
    'yellow',
    'green',
    'blue',
    'indigo',
    'violet',
    'pink',
  */

  .red {
    background: #ff9999;
  }

  .orange {
    background: #ffcc99;
  }

  .yellow {
    background: #ffff99;
  }

  .green {
    background: #99ff99;
  }

  .blue {
    background: #99ccff;
  }

  .indigo {
    background: #cc99ff;
  }

  .violet {
    background: #ff99ff;
  }

  .pink {
    background: #ff99cc;
  }

  .red, .orange, .yellow, .green, .blue, .indigo, .violet, .pink {
    color: #000;
  }
}

.sidebar {
  position: absolute;
  content: contain;
  overflow: hidden;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  background-color: #0005;

  z-index: 100;

  display: grid;
  transition: opacity 0.2s var(--timing-standard);

  .sidebar-content {
    --surface: var(--surface-variant);

    display: flex;
    flex-direction: column;
    gap: var(--lg);
    position: absolute;
    padding: var(--component-xs);
    width: 400px;
    right: 0;
    top: 0;
    bottom: 0;

    background: var(--surface);

    transform: translateX(100%);
    transition: transform 0.2s var(--timing-standard);
  }

  &.open {
    opacity: 1;
    pointer-events: all;

    .sidebar-content {
      transform: translateX(0);
    }
  }
}
.selected {
  background: var(--primary-light);
  color: var(--primary);
}

#scheduleInput {
  max-width: 400px;
}
