.table-container {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 1px inset var(--outline-variant);

  [table-head] {
    gap: var(--xxs);
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;

    display: none;

    img {
      width: var(--size-xxl);
    }


    margin-bottom: var(--component-lg);
  }

  #tableInfo {
    font-size: var(--font-lg);
    font-weight: 600;
  }
}

.sched-table {
  border-collapse: collapse;
  min-width: 1000px;
  width: 100%;
  table-layout: fixed;
  position: relative;
  

  td,
  th {
    padding: var(--xxs);

    border: 1px solid var(--outline-variant);
    text-align: center;
    user-select: none;

    > * {
      pointer-events: none;
    }
  }

  tr >:first-child {
    width: var(--size-xl);
    position: sticky;
    left: 1px;
    z-index: 1;
    background: var(--surface);
    box-shadow: 0 0 0 2px inset var(--surface);
    outline: 1px solid var(--outline-variant);
    outline-offset: 0;
  }

  .highlight-today {
    background: var(--primary-light);
    color: var(--primary);
  }

  .red {
    background: #ff9999;
  }

  .orange {
    background: #ffcc99;
  }

  .yellow {
    background: #ffff99;
  }

  .green {
    background: #99ff99;
  }

  .blue {
    background: #99ccff;
  }

  .indigo {
    background: #cc99ff;
  }

  .violet {
    background: #ff99ff;
  }

  .pink {
    background: #ff99cc;
  }

  .red, .orange, .yellow, .green, .blue, .indigo, .violet, .pink {
    color: #000;
  }
}

.sidebar {
  
  position: absolute;
  content: contain;
  overflow: hidden;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  background-color: #0005;

  z-index: 100;

  display: grid;
  transition: opacity 0.2s var(--timing-standard);

  .sidebar-content {
    --surface: var(--surface-variant);

    display: flex;
    flex-direction: column;
    gap: var(--lg);
    position: absolute;
    padding: var(--component-xs);
    width: 400px;
    right: 0;
    top: 0;
    bottom: 0;

    background: var(--surface);

    transform: translateX(100%);
    transition: transform 0.2s var(--timing-standard);
  }

  &.open {
    opacity: 1;
    pointer-events: all;

    .sidebar-content {
      transform: translateX(0);
    }
  }
}
.selected {

  position: relative;

  &::after {
    content: '';
    color: var(--primary);
    position: absolute;
    pointer-events: none;
    inset: calc(var(--xxs) * -1);
    border-left: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
    background-color: color-mix(in srgb, #0000, var(--primary) 20%);
    top: 0;
    bottom: -1px;
  }

  &.start::after {
    top: calc(var(--xxs) * -1);
    border-top: 2px solid var(--primary);
    border-top-left-radius: var(--xxs);
    border-top-right-radius: var(--xxs);
    content: 'Drag down to select';
    display: grid;
    place-items: center;
  }

  &.origin::after {
    background-color: color-mix(in srgb, #0000, var(--primary) 40%);
  }
  
  &.end::after {
    bottom: calc(var(--xxs) * -1);
    border-bottom: 2px solid var(--primary);
    border-bottom-left-radius: var(--xxs);
    border-bottom-right-radius: var(--xxs);
  }

}

.conflict {
  text-align: left;

}

#scheduleInput {
  max-width: 400px;
}

@media print {
  w-content {
    contain: none;
    zoom: 75%;
  }
  
  .table-container {
    position: fixed;
    padding: 1in;
    inset: 0;
    z-index: 1000;
    background: var(--surface);
    box-shadow: none;

    [table-head] {
      max-width: 100% !important;
      display: flex;
    }
  
    table {
      min-width: 100%;
    }
  }

  .selected::after {
    display: none !important;
  }
}