w-dialog {
  --surface: var(--surface-variant);

  display: grid;
  place-items: center;

  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: auto;

  opacity: 0;
  pointer-events: none;
  transition: all 0.2s var(--timing-standard);

  [content] {
    display: flex;
    padding: var(--md);
    gap: var(--sm);
    flex-direction: column;

    background: var(--surface);
    border-radius: var(--xl);

    min-width: min(calc(100% - var(--md) * 2), 300px);
    max-width: min(calc(100% - var(--md) * 2), 600px);
    max-height: calc(100% - var(--md) * 2);

    scale: 0.9;

    transition: inherit;
  }

  &[open] {
    opacity: 1;
    pointer-events: all;

    [content] {
      scale: 1;
    }
  }

  [header] {
    font-size: var(--font-xl);
    font-weight: 500;
  }

  [body] {
    padding-block: var(--md);
    overflow: auto;
    flex: 1;
  }

  [actions] {
    display: flex;
    gap: var(--sm);

    justify-content: flex-end;
  }

  [actions]:empty {
    display: none;
  }

  &:has([top-icon]) {
    [content] {
      padding-block: var(--lg);
    }

    [top-icon] {
      margin-inline: auto;
    }

    [header] {
      text-align: center;
      font-size: var(--font-xl);
    }

    [body] {
      padding-inline: var(--md);
      text-align: center;
    }
  }
}
