w-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;

  padding-block: var(--md) var(--xl);

  width: var(--navbar-size);
  height: 100dvh;

  background: var(--surface-variant);
}

w-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: auto;

  width: var(--navbar-size);
}

w-navigation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--xs);

  position: relative;

  width: 100%;
  padding-block: var(--xs) var(--md);

  cursor: pointer;

  color: var(--outline-variant);

  [icon] {
    aspect-ratio: 1;
    height: var(--xxl);
    width: var(--component-md);

    display: grid;

    border-radius: var(--rounded);
  }

  [label] {
    font-size: var(--font-md);
    font-weight: 600;
  }

  &:focus-visible [icon] {
    outline: 2px solid var(--primary);
  }

  .w-ripple {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-25%, -25%) scale(0.5);
    --speed: 0.3s;
  }

  &[mobile] {
    display: none;
  }

  &[desktop] {
    display: flex;
  }

  &.active {
    color: var(--primary);

    > iconify-icon {
      background: var(--primary);
      color: var(--pure);
    }
  }
}

@media (width <= 768px) {
  w-navigation {
    flex-direction: row;
    justify-content: space-between;

    position: absolute;

    width: 100%;
    height: var(--navbar-size);
    bottom: 0;

    z-index: 10;

    > *:not(w-navigation-list) {
      display: none !important;
    }
  }

  w-navigation-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: var(--xs);
    flex: 1;
  }

  w-navigation-item {
    &[desktop] {
      display: none;
    }

    &[mobile] {
      display: flex;
    }
  }
}
