.edit-screen {
  display: flex;
  flex-wrap: wrap;

  .data {
    display: flex;
    flex-direction: column;
    padding: var(--xl);
    gap: var(--sm);
    width: min(100%, 400px);

    form {
      display: flex;
      flex-direction: column;
      gap: var(--sm);
      max-width: 100%;
    }
  }

  .preview {
    flex: 1;
    min-width: 400px;
    max-width: 100%;
    padding: var(--xl);
    position: sticky;
    display: flex;
    flex-direction: column;
    height: max-content;
    top: 0;
  }

  .preview w-table {
    border: 1px solid var(--outline-variant);
    border-radius: var(--sm);
    width: 100%;
  }
}

@media (width <= 1024px) {
  .edit-screen {
    flex-direction: column;
    .data {
      flex: 1;
      width: 100%;
    }
  }
}
