@import url('./dashboard.css');
@import url('./schedule.css');

.login-sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--xl);

  position: relative;
  overflow: hidden;
  contain: content;

  height: 100dvh;
  max-width: 100%;
  width: clamp(var(--breakpoint-mobile), 50dvw, var(--breakpoint-tablet));

  padding: var(--component-md);

  color: var(--surface);

  w-header {
    color: currentColor;
    text-transform: uppercase;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &::before {
    background-image: url('/assets/background.webp');
    background-size: cover;
    background-position: right 10% center;
    background-repeat: no-repeat;
  }

  &::after {
    background: linear-gradient(to bottom in lch, var(--primary), var(--black));
    opacity: 0.8;
  }
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: var(--xl);

  margin-block: auto;

  padding-left: var(--component-xxl);
  width: min(100%, var(--breakpoint-mobile));

  w-input,
  w-input-pass {
    width: 100%;
  }

  w-button {
    width: 100%;
    border-radius: var(--xxs);
  }
}

#nav-logo {
  width: var(--size-lg);
}

@media (width <= 768px) {
  .login-sidebar {
    display: none;
  }
}
