w-button,
w-drop-button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font: inherit;
  width: max-content;
  user-select: none;
  padding: 0;

  position: relative;
  contain: content;
  overflow: hidden;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: var(--component-sm);
  border-radius: var(--rounded);

  color: var(--pure);
  font-size: var(--font-sm);
  font-weight: 600;

  transition: all 0.2s var(--timing-standard);

  &:hover {
    filter: brightness(0.95);
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

w-button {
  gap: var(--sm);

  height: var(--component-sm);
  padding-inline: var(--md);

  background: var(--primary);

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Variants */

  &[variant='outlined'] {
    background: var(--surface);
    box-shadow: 0 0 0 1px inset var(--primary);
    color: var(--primary);
  }

  &[variant='text'] {
    background: none;
    color: var(--primary);
    padding-inline: var(--sm);
  }
}

w-drop-button {
  gap: calc(var(--xxs) / 2);

  > div,
  > iconify-icon {
    display: flex;
    align-items: center;
    height: 100%;
  }

  > div {
    gap: var(--sm);
    justify-content: center;

    padding-inline: var(--md);
    border-radius: var(--component-sm) var(--xs) var(--xs) var(--component-sm);

    background: var(--primary);
  }

  > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > iconify-icon {
    aspect-ratio: 1;
    padding-inline: var(--xxs) var(--xs);
    flex-shrink: 0;

    background: var(--primary);
    border-radius: var(--xs) var(--component-sm) var(--component-sm) var(--xs);
  }

  &[variant='outlined'] {
    > div,
    > iconify-icon {
      background: var(--surface);
      box-shadow: 0 0 0 1px inset var(--primary);
      color: var(--primary);
    }
  }
}

w-button-icon {
  position: relative;
  user-select: none;
  cursor: pointer;

  contain: content;
  overflow: hidden;

  display: inline-grid;
  place-items: center;
  border-radius: var(--rounded);

  width: var(--component-md);
  height: var(--component-md);
  flex-shrink: 0;
  color: var(--color, var(--on-surface));

  [icon] {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
  }

  &[active] {
    background: var(--color, var(--primary));
    color: var(--pure);
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}
