w-list {
  display: flex;
  flex-direction: column;
  gap: var(--xxs);
}

w-list-item {
  --surface: var(--pure);

  display: flex;
  align-items: center;
  gap: var(--xl);

  position: relative;
  overflow: hidden;

  border-radius: var(--xs);

  background: var(--surface);
  padding: var(--xl) var(--component-sm);

  &:first-child {
    border-top-left-radius: var(--component-sm);
    border-top-right-radius: var(--component-sm);
  }

  &:last-child {
    border-bottom-left-radius: var(--component-sm);
    border-bottom-right-radius: var(--component-sm);
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  &[href] {
    cursor: pointer;
  }

  [title] {
    font-size: var(--font-lg);
    font-weight: 500;
  }

  &:hover {
    filter: brightness(0.99);
  }
}
