@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
  --xxs: 0.25rem;
  --xs: 0.5rem;
  --sm: 0.75rem;
  --md: 1rem;
  --lg: 1.25rem;
  --xl: 1.5rem;
  --xxl: 1.75rem;
  --component-xxs: 1.5rem;
  --component-xs: 2rem;
  --component-sm: 2.5rem;
  --component-md: 3rem;
  --component-lg: 3.5rem;
  --component-xl: 4rem;
  --component-xxl: 4.5rem;
  --size-xxs: 2rem;
  --size-xs: 3rem;
  --size-sm: 4rem;
  --size-md: 5rem;
  --size-lg: 6rem;
  --size-xl: 7rem;
  --size-xxl: 8rem;
  --font-xxs: 0.625rem;
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-xxl: 1.375rem;
  --icon-xxs: 0.5rem;
  --icon-xs: 0.75rem;
  --icon-sm: 1rem;
  --icon-md: 1.5rem;
  --icon-lg: 1.75rem;
  --icon-xl: 2rem;
  --icon-xxl: 2.25rem;
  --rounded: 9999px;
  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-desktop-xl: 1280px;
  --navbar-size: var(--size-xl);
  --topbar-size: var(--size-md);
  --shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;

  --timing-standard: cubic-bezier(0.4, 0, 0.2, 1);

  --primary: #0a5433;
  --primary-light: #d3ffeb;
  --secondary: #f59e00;
  --secondary-light: #fff3e0;
  --tertiary: #d57531;
  --tertiary-light: #fde9d9;
  --error: #c40505;

  --outline: #9f9d9d;
  --outline-variant: #565656;

  --white: #fff;
  --black: #000;

  --surface: #f8f8f8;
  --surface-variant: #e7e5e5;
  --pure: var(--white);

  --on-surface: #000;
  --on-surface-variant: #565656;

  --surface-container: #cccccc;
  --on-surface-container: #363636;

  --inverse-surface: #121212;
  --inverse-on-surface: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #81fbb8;
    --primary-light: #0a5433;
    --secondary: #ffcc80;
    --secondary-light: #f59e00;
    --tertiary: #ffb68f;
    --tertiary-light: #d57531;
    --error: #ffb4ab;

    --outline: #383838;
    --outline-variant: #848f8a;

    --white: #ffffff;
    --black: #000000;

    --surface: #121212;
    --surface-variant: #2e2e2e;
    --pure: #1e1e1e;

    --on-surface: #f1f1f1;
    --on-surface-variant: #b2b2b2;

    --surface-container: #1e1e1e;
    --on-surface-container: #e3e3e3;

    --inverse-surface: #f8f8f8;
    --inverse-on-surface: #000;

    color-scheme: dark;
  }
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.gap-xxs {
  gap: var(--xxs);
}

.gap-xs {
  gap: var(--xs);
}

.gap-sm {
  gap: var(--sm);
}

.gap-md {
  gap: var(--md);
}

.gap-lg {
  gap: var(--lg);
}

.gap-xl {
  gap: var(--xl);
}

.gap-xxl {
  gap: var(--xxl);
}

.gap-auto {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.w-fill {
  flex: 1;
}

.text-sub {
  color: var(--outline-variant);
}

.text-primary {
  color: var(--primary);
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--outline);
}

.secondary {
  --primary: var(--secondary);
}

.tertiary {
  --primary: var(--tertiary);
}

.error {
  --primary: var(--error);
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mx-auto {
  margin-inline: auto;
}

.my-auto {
  margin-block: auto;
}

.text-center {
  text-align: center;
}
