@import url('./!var.css');
@import url('./ripple.css');
@import url('./components.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Flex', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;
  color: var(--on-surface);

  background: var(--surface);
  -webkit-tap-highlight-color: transparent;
}

* {
  outline: 0px solid var(--primary);
}

:is(
    w-button,
    w-drop-button,
    w-input,
    w-input-pass,
    w-chip,
    w-checkbox,
    w-radio,
    w-list,
    w-list-item,
    w-switch
  ) {
  &:focus-visible {
    animation: focused 0.3s ease-in-out forwards;
  }
}

@keyframes focused {
  25% {
    outline: 5px solid var(--primary);
  }

  100% {
    outline: 2px solid var(--primary);
  }
}

iconify-icon {
  display: inline-block;
  font-size: 24px;
  min-width: 24px;
  min-height: 24px;
}

body:has(:not(:defined)) {
  display: none !important;
}

.account {
  display: grid;
  place-items: center;
  width: var(--component-xl);
  flex-shrink: 0;

  aspect-ratio: 1;
  border-radius: var(--component-xl);
  background-color: var(--surface-container);
  color: var(--on-surface-container);

  position: relative;
  cursor: pointer;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  font-size: var(--component-xxs);
  font-weight: 600;

  [cog] {
    position: absolute;
    bottom: 0;
    right: 0;

    height: var(--component-xxs);
    aspect-ratio: 1;

    border-radius: var(--component-xxs);
    background: var(--primary);

    display: grid;
    place-items: center;
    font-size: var(--lg);
    color: var(--surface);
  }
}

.ripple {
  user-select: none;

  > * {
    pointer-events: none;
  }
}
